@font-face {
    font-family: "RF Dewi Expanded";
    src: url(../font/rf-dewi-expanded-bold-balanced.woff2);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "RF Dewi Expanded";
    src: url(../font/rf-dewi-expanded-regular-balanced.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "RF Dewi Expanded";
    src: url(../font/rf-dewi-expanded-ultrabold-balanced.woff2);
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "RF Dewi Expanded";
    src: url(../font/rf-dewi-subset.woff);
    font-display: swap;
}@font-face {
    font-family: "RF Dewi Extended";
    src: url(../font/rf-dewi-subset.woff);
    font-display: swap;
}